*{
    padding: 0;
    margin: 0;

}
#navbar{
    background-color: red;
}
.navbar{
    background-color: red;
}
#logo{
    font-size: 36px;
    font-weight: 700;
    color: #000;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}
#logo span{
    color: #ffa500;
}
.navbar-toggler span{
    color: #ffa500;
}
.navbar-nav{
    margin-left: 20px;
}
.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color:black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}
 .nav-link:hover{
    background: #ffa500;
    color: #fff;
}

.about{
    background-color: #ffa500;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer{
    background-color:white;
    color: black;
    padding-top: 50px;
    padding-bottom: 70px;
}
.footer a{
    text-decoration: none;
    color: #000;

}
#span{
    color: #000;
    text-shadow:0px 2px 2px black ;
}
#span span{
    color: #ffa500;
}
.ship{
    text-align: center;
    background-color: bisque;
    padding-top: 7px;
    padding-bottom:7px ;
}
   